<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lixiang.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 使用音场效果必要的权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".PlayService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".RecommendActivity" />
        <activity android:name=".MusiclistActivity" />
        <activity android:name=".DownloadActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".RecommendActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".RecommendActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />
        <activity
            android:name=".sc_randomPlay"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".sc_list"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".sc_cloud"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".sc_library"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".searchActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".EqualizerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="均衡器"></activity>
    </application>

</manifest>